* { /*LIMPANDO O CSS*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
    text-decoration: underline;
    color: white;
}

section {
    max-width:680px;
    width: 90%;
    margin: 52px auto;
    display: grid;
    gap: 24px;
}

div.rider-unknow {
    margin-top: 20px;
    text-align: center;
}

.game {
    height: 1110px;
    text-align: center;
    font-size: 1rem;
}

.game div{
    text-decoration-color: white;
}

.button-jogar {
    margin-top: 25px;
    border: none;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    background-color:gold;
}

.button-jogar:hover{
    transform: scale(1.1);
    transition: transform .4s;
}
