* { /*LIMPANDO O CSS*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul { /*REMOVER OS PONTINHOS DA LISTA*/
    list-style: none;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

body {
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: black;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

header {
    padding-top: 2px;
    height: calc(120px + 32px);
    border-radius: 50%;
}

header div:hover{
    transform: scale(1.1);
}

header div {
    width: 150px;
    margin: auto;
    background-image: linear-gradient(to right, #b92b27, #1565c0);
    border-radius: 50%;
    display: flex;
    transition: transform .4s;
    padding: 4px;
}

header div img {
    width: 100%;
    border-radius: 50%;
    display: flex;
}

main {
    max-width:680px;
    width: 90%;
    margin: 52px auto;
    display: grid;
    gap: 24px;
}

section {
    color: white;
    background: linear-gradient(to right, #b92b27, #1565c0);
    padding-top: 4px;
    border-radius: 10px;
}

.sectionMidia{
    align-items: center;
}

section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 24px;
}

section ul li {
    transition: transform .4s;
}

section ul li:hover {
    transform: scale(1.1);
}

.pilotos-list img {
    width: 130px;
    border-radius: 8px;
}

.equipes-list img {
    width: 150px;
    border-radius: 10px;
    border: 1px solid #443e54;
}

.midia-list img {
    width: 90px;
    border-radius: 50%;
    border: 1px solid #443e54;
}

.buttonBlack{
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: black;
    border-color: gray;
}

.buttonWhite{
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    border-color: gray;
}

.buttonJogar{
    color: aliceblue;
    display: flex;
    margin-top: 30px;
    margin-left: 40%;
    padding: 20px;
    font-weight: bold;
    border-radius: 10%;
    border-color:#1565c0;
    background: linear-gradient(to right, #b92b27, #1565c0);
    font-size: large;
}

.calendario {
    margin-left: 40%;
}

.circuito {
    margin-left: 15%;
}

h3{
    font-size: medium;
}
/* =============== ANIMAÇÃO =============== */

header div {
    animation: fromTop .7s .2s backwards;    
}

main section {
    animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
    animation-delay: 0;
}

main section:nth-child(2) {
    animation-delay: .4s;
}

main section:nth-child(3) {
    animation-delay: .8s;
}

@keyframes fromTop {
    from{
        opacity: 0;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }    
}

@keyframes fromBottom {
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    } 
    
}